<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Universita' Innovativa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/Universita.css}" />
</head>
<header>
	<h1>Universita' Innovativa</h1>
	<h3>Gestione studenti e segreteria</h3>
</header>
<body>
	<div class="titolo">
		<h1>Benvenuti nel portale di gestione dell'universita' Innovativa</h1>
	</div>
	<div class="homepage">
		<a href="studenti">Gestione studenti</a> <br> <br> <a
			href="corsi">Gestione corsi</a>
	</div>
</body>

</html>
